body {
    width: 100vw;
    height: 768px;
    background-image: url(/imgs/background.svg);
}

.mainLogo {
    position: relative;
    width: 230px;
    height: 184px;
    left: -3px;
    top: -11px;
    background-image: url(/imgs/logo2.png);

}

.message {
    text-align: center;
    position: relative;
    background-color: #454E9E;
    color: white;
    vertical-align: middle;
    
    width: 449px;
    height: 181px;
    left: 710px;
    top: 110px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 76px;


    border-radius: 40px;
}

@media (max-width: 420px) {

    .message {
    width: 300px;
    height: 281px;
    left: 5px;
    top: 50px;
    }

.mainLogo {
    width: 100vw;
    background-repeat: no-repeat;
}

}